@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

// Colours
$colors: (
    darkblue: #1f2330,
    orange: #EA876C,
    lightblue: #97A4FD,
    green: #79C7A1,
    lightgray: #9da7c2
);

@function color($color-name) {
    @return map-get($colors, $color-name)
};

$bodyBGClr: color(darkblue);
$bodyTxtClr: color(lightgray);


body {  
    font-family: 'Roboto', sans-serif;
    background: $bodyBGClr; 
    color: $bodyTxtClr;
}

#container {
    position: relative;
	width: 1350px;
	margin: 0 auto;
}

header {
	position: fixed;
	top: 0;
	height: 100%;
	width: 349px;
	padding-top: 120px;
    border-right: 1px solid #424A61;
    
    #header-close {
        cursor: pointer;
    }
}